body {
  background-color: #ffffff;
}
h1 {
  margin-left: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 15px;
  margin-left: 45px;
}

footer {
  text-align: center;
  color: white;
  font-family: "Anonymous Pro", monospace;
  font-size: small;
}
.content {
  position: static;
  background-color: #86aba1;
  border-radius: 30px;
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  box-shadow: 9px 12px 27px -4px rgba(0, 0, 0, 0.4);
  color: black;
  font-family: "Anonymous Pro", monospace;
  text-transform: capitalize;
}

.temperature {
  font-size: xx-large;
}

.description {
  font-size: x-large;
  font-weight: lighter;
  margin: 12px;
}

.highTemp {
  font-size: medium;
  margin: 12px;
}

.btn-primary {
  background-color: #dff3e3;
  border-color: #dff3e3;
  color: black;
  padding: 6px;
  margin: 3px;
  width: 100px;
  height: 35px;
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #dff3e3;
  color: #d68060;
}

.btn btn-primary {
  background-color: #dff3e3;
  border-color: #dff3e3;
  padding: 6px;
  margin: 3px;
  width: 100px;
  height: 35px;
}
.btn btn-primary:hover {
  background-color: #ffffff;
  border-color: #dff3e3;
  color: #d68060;
}

.today-celsius {
  color: black;
  font-size: large;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  border-radius: 10px;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: black;
}

.footerLink {
  color: white;
  text-decoration: underline;
}

.footerLink:hover {
  color: white;
  cursor: pointer;
}
